body {
  font-family: sans-serif;
}

button {
  margin: 10px;
}

p {
  margin: 10px;
}

style {
  .active{
    color: blue;
    font-weight: bold;
  }
  .content{
    display: none;
  }
  .content.active{
    display: block;
  }
}
